* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #111;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 240px;
  height: 130px;
  border: 1px solid #d3d3d3;
  padding: 15px;
  background-color: #7e7e7e;
  overflow: hidden;
}

.loader .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader .wrapper > div {
  background-color: #cacaca;
}

.loader .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.loader .line {
  position: absolute;
  height: 10px;
  background-color: #cacaca;
}

.loader .line-1 {
  top: 11px;
  left: 58px;
  width: 100px;
}

.loader .line-2 {
  top: 34px;
  left: 58px;
  width: 150px;
}

.loader .line-3 {
  top: 57px;
  left: 0;
  width: 100%;
}

.loader .line-4 {
  top: 80px;
  left: 0;
  width: 92%;
}

.loader::after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    110deg,
    #e3e3e300 0%,
    #e3e3e300 40%,
    #e3e3e380 50%,
    #e3e3e300 60%,
    #e3e3e300 100%
  );
  animation: shimmer 1.2s linear infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
